<form id='comment' method='post' action='/questions/<%= question.id %>/comments'>
  <input name='comment' type='textarea' placeholder="Enter Comment here">
  <input type='submit' value='Submit Comment'>
</form>