<form class="comment-form" id='comment' method='post' action='/questions/<%= question.id %>/comments'>
  <textarea class="comment-text-input" name='comment' placeholder="Enter Comment Here"></textarea>
  <input class="comment-submit-input" type='submit' value='Submit'>
</form>
