/** {border: 1px solid red;}*/
*{overflow: auto;}

.content{
  margin: auto;
  width: 90%;
}

a:visited{
  color: black;
}

a:hover{
  color: orange;
}
.comment-text-input {
  height: 20px;
  width: 96%;
  margin: 10px 0px;
  display: block;

}

.comment-text-input:focus{
  outline: .5px solid orange;
} 

.comment-submit-input {
  border-radius: 5px;
  border: none;
  padding: 4px;
  background-color: #e8af3e; 
}
.comment-submit-input:hover{
  background-color: orange;
} 

.comment-submit-input:focus{
  outline:none;
}

.ask-btn {
  margin-left: 5px;
  padding:10px;
  border: .5px solid orange;
  background-color: white;
  border-radius: 30px;

}

.ask-btn:hover{
  box-shadow: 0px 0px 10px orange;
  border: .5px solid transparent;
}

.ask-link{
  color: black;
}

.nav-list {
  float: right;
  font-weight: bold;
  font-family: helvetica;
  margin: auto 5px;
  height: 50px;
  vertical-align: bottom;
}

.nav-list a {
  text-decoration: ;
  color: black;
}

.nav-list a:hover {
  color: orange;
}

.question .author {
  margin-top: 7px;
  color: black;
  line-height: 2.4em;
}

.question a {
  text-decoration: none;

}

.question a:hover {
  text-decoration: none;
  color: orange;

}

.sneak-peak {
  margin-top: 7px;
  font-size: 12px;
}

.vote-total {
  margin: 2px auto;
  font-size: 15px;
}


.arrow-up {
  width: 0;
  height: 0;
  display: block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid gray;
  margin:auto;
}

button:focus {outline:0;}

.upvoted{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 7px 7px 7px;
  border-color: transparent transparent orange transparent;
  background-color: transparent;
  padding: 0px;
}



.downvoted {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 7px 0px 7px;
  border-color: blue transparent transparent transparent;
  background-color: transparent;
  padding: 0px;
}

.arrow-up-btn {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 7px 7px;
  border-color: transparent transparent #a1a1a1 transparent;
  background-color: transparent;
  padding: 0px;
}
.arrow-down-btn {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 7px 0px 7px;
  border-color: #a1a1a1 transparent transparent transparent;
  background-color: transparent;
  padding: 0px;
}

.arrow-down {
  display: block;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid gray;
  margin: auto;
}

.mark-best{
  background-color: white;
  border-radius: 4px;
  border: none;
  margin: 10px 0px;
}

.vote-count, .answer-count, .comment-count {
  background: white;
  border-radius: 3px;
  padding: 10px 5px;
  font-size: 10px;
  display: inline-block;
}

.answer-vote {
  display: inline-block;
  margin: 0px 10px;
}

.author-title {
  display: inline-block;
}

.votes{
  background: white;
  border-radius: 3px;
  /*border: 1px solid black;*/
  padding: 10px 5px;
  display: inline-block;
  text-align: center;
  font-size: 10px;
  float: left;
  margin-right: 5px;
}

.new-question-title{
  display: block;
  padding: 0px 5px;
  width: 97%;
  border: none;
  margin: 15px auto;

}

.new-question-title:focus{
  outline: .5px solid orange;
}

.new-question-textarea{
  border: none;
  display: block;
  margin: auto;
  width: 96%;
  padding: 10px;
}

.new-question-textarea:focus{
  outline: .5px solid orange;
}

#new-question-header{
  display: block;
  margin: auto;
  text-align: center;
}

.new-question-submit{
  border: none;
  border-radius: 3px;
  background-color: #e8af3e;
  color: black;
  margin: 20px auto;
  display: block;
  width: 99%;
  height: 45px;
}

.comment-form-link{
  border: none;
  border-radius: 3px;
  background-color: #e8af3e;
  color: black;
  margin-top: 20px;
  display: block;
  width: 30%;
  height: 25px;
}

.comment-form-link:hover{
  background-color: orange;
}

.new-question-submit:focus{
  outline:none;
}

.new-question-submit:hover{
  background-color: orange;
}

.read-more{
  color: orange;
}

.read-more:visited{
  color: orange;
}

.hero{
  margin: auto;
  text-align: center;

}

.question {
  border: 1px solid black;
  padding: 25px;
  margin: 10px;
  background-color: white;
}

.answer-content {
  background-color: white;
}

.author {
  display: inline-block;
  font-size: 11px;
  margin-top: 7px;
}

.answers {
  margin-top: 45px;
}

.answers li {
  list-style-type: none;

}

.description {
  background-color: white;
  margin-top: 5px;
}

.answer {
  padding: 10px;
  border-bottom: 1px solid black;

}

.answer-header {
  padding:0;
  margin:7px;
}

span {
  position: relative;
}

.best-answer {
  padding: 20px;
  border: 0.5px solid #4b5159;
  background-color: #fffdba;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.comments-header {
  margin-bottom: 10px;
  margin-top: 15px;
  font-size: 15px;
  font-family: sans-serif;
}

.comments {
  font-size: 13px;
}

.list-comment{
  margin: 0;
}

.comment {
  background-color: white;
  border-bottom: 2px solid gray;
  margin: 0px;
}

.error-alert {
  position: fixed;
  left: 27%;
  width: 70px;
  font-size: 13px;
  background-color: white;
  border: 1px solid orange;
  padding: 5px;
  border-radius: 5px;
}


body {
  counter-reset:section;
  background-color: #F6F6EF;
  font-family: Verdana;
  max-width: 700px;
  margin: 0 auto;
}

header {
  background-color: #F4712D;
  padding: 5px 5px;
}

header h1 {
  font-size: 11pt;
  display: inline;
}

header p {
  margin-left: 5px ;
  font-size: 10pt;
  display: inline;
}

header p a {
  color: black;
  text-decoration: none;
}

header p a:nth-child(n + 2):before {
  content: " | ";
}

article {
  margin: 5px 5px;
}

article a.vote-button {
  color: #8C8C8C;
  text-decoration: none;
  display: inline;
  vertical-align: sub;
}


article h2 {
  display: inline;
  font-size: 10pt;
}

article:before {
  counter-increment: section;
  color: #8C8C8C;
  font-size: 10pt;
  content: counter(section) ". ";
}

article h2 a {
  text-decoration: none;
  color: black;
}

article p {
  color: #8C8C8C;
  font-size: 7pt;
  margin: 3px 30px;
}

article p span.points:after {
  content: " points";
}

article p span.username:before {
  content: " by ";
}

article p span.timestamp:after {
  content: ' hours ago';
}

article p span.comment-count:before {
  content: ' | ';
}

article p span.comment-count:after {
  content: ' comments | ';
}

article p a.delete {
  text-decoration: none;
  color: #8C8C8C;
  text-decoration: none;
}

article p a.delete:before {
  content: ' delete this post';

}

form#posts input[type='text'] {
  width: 200px;
  margin-left: 20px;
  font-size: 10pt;
  height: 17px;

}

form#posts input[type='submit'] {
  font-size: 10pt;
  margin-left: 5px;
  border-width: 1px;
  font-weight: bold;
  background-color: #F4712D;
}

.inline {
  display: inline;
}

.upvote-button {
  background-color: transparent;
  border: none;
  padding-top: 5px;
  color: #8C8C8C;
  vertical-align: sub;
  padding: 1px 0px 0px 0px;
}

.label, .form-textarea{
  display:block;
}

.errors {
  color: red;
}


