<div class="content">
<h1>Enter your information to create an account:</h1>
<ul>
  <% if @errors %>
    <% @errors.each do |error| %>
    <li><%= error %></li>
    <% end %>
  <% end %>
</ul>

  <form action="/users/new" method="post">
    <label for="user[username]">Username:</label>
    <input type="text" name="user[username]"></input><br>

    <label for="user[email]">Email:</label>
    <input type="email" name="user[email]"></input><br>

    <label for="user[password]">Password:</label>
    <input type="password" name="user[password]"></input><br>

    <input type="submit" value="Create Account">

  </form>


</div>