<div class="content">
<div class="signup-container">
<h1 class="signup-header">Enter your information to create an account:</h1>
<ul>
  <% if @errors %>
    <% @errors.each do |error| %>
    <li><%= error %></li>
    <% end %>
  <% end %>
</ul>

  <form id="new_user" action="/users/new" method="post">
    <input class="signup-username" type="text" name="user[username]" placeholder="Username"></input><br>

    <input class="signup-email" type="email" name="user[email]" placeholder="Email"></input><br>

    <input class="signup-password" type="password" name="user[password]" placeholder="Password"></input><br>

    <input class="signup-submit" type="submit" value="Create Account">

  </form>

</div>
</div>