<div class= "content">
<h3>Your Answer</h3>
  <% if @answer_error %>
    <p><%= @answer_error %></p>
  <% end %>
<form  id="answer-form" action="/questions/<%= current_question.id%>/answers/new" method="post">
  <textarea rows="15" cols="50" name="description" placeholder="Add your answer here"></textarea><br>
  <input type="submit" value="Post Your Answer">
</form>
</div>
