<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <nav>
    <ul class="nav-ulist">
      <li class="nav-list" id='home'><a href="/">home</a></li>
      <% if current_user %>
      <li class="nav-list" id='profile'>Welcome <a href=<%= "/users/#{current_user.id}" %>><%=   current_user.username %></a></li>
      <li class="nav-list" id='logout'><a href="/logout">logout</a></li>
      <li class="nav-list"><img class="profile-image thumbnail" height="25px" width="25px" src="<%=   current_user.profile_url %>"></li>
       <li class="nav-list" ><a href="/questions/new"><button class="ask-btn">Ask Question</button></a></li>  
      <% else %>
      <li class="nav-list" id='sign_up'><a href="/users/new">sign up</a></li>
      <li class="nav-list" id='login'><a id='login' href="/login">login</a></li>
      <% end %>
    </ul>
  </nav>
  
  <%= yield %>

</body>
</html>
