<div class="content">
<div class="login-container">
  <h1 class="login-header">Please enter your login credentials:</h1>
  <% if @error %>
    <p class="errors"><%= @error %></p>
  <% end %>
  <form id="login" action="/login" method="post">
    
  <input class="login-email" type="email" name="user[email]" placeholder="Email"></input><br>
  <input class="login-password" type="password" name="user[password]" placeholder="Password"></input><br>

  <input class="login-submit" id="login_submit"type="submit" value="Login">

  </form>
</div>

</div>