<div class="container">
<h1>Please enter your login credentials:</h1>
  <form>
    <label for="email">Email:</label>
    <input type="email" name="email"></input><br>

    <label for="password">Password:</label>
    <input type="password" name="password"></input></form><br>

    <input type="submit" value="Click to log in.">

  </form>

  <a href="/users/new">Sign Up!</a>

</div>